In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
schoolDataload = "../Resources/schools_complete.csv"
studentDataload = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
schoolData = pd.read_csv(schoolDataload)
studentData = pd.read_csv(studentDataload)

# Combine the data into a single dataset.  
schoolDcomplete = pd.merge(studentData, schoolData, how="left", on=["school_name", "school_name"])
schoolDcomplete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
totalUnique_schools = len(schoolDcomplete["school_name"].unique())
totalUnique_schools

15

In [3]:
# Calculate the total number of students
totalStudents = len(schoolDcomplete["Student ID"]) 
totalStudents

39170

In [4]:
# Calculate the total budget
totalBudget = schoolDcomplete["budget"].unique().sum()
totalBudget

24649428

In [5]:
# Calculate the average (mean) math score
avgMathscore = schoolDcomplete["math_score"].mean()
avgMathscore

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
avgReadingscore = schoolDcomplete["reading_score"].mean()
avgReadingscore

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
math_Passcount = schoolDcomplete[(schoolDcomplete["math_score"] >= 70)].count()["student_name"]
math_Percentpass = math_Passcount / float(totalStudents) * 100
math_Percentpass

74.9808526933878

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
reading_Passcount = schoolDcomplete[(schoolDcomplete["reading_score"] >= 70)].count()["student_name"]
reading_Percentpass = reading_Passcount / float(totalStudents) *100
reading_Percentpass

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
math_reading_Passcount = schoolDcomplete[
    (schoolDcomplete["math_score"] >= 70) & (schoolDcomplete["reading_score"] >= 70)
].count()["student_name"]
math_reading_Percentpass = math_reading_Passcount /  float(totalStudents) * 100
math_reading_Percentpass

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary= pd.DataFrame(
    {
        "Total Schools": [totalUnique_schools],
        "Total Students": totalStudents,
        "Total Budget": totalBudget,
        "Average Math Score": avgMathscore,
        "Average Reading Score": avgReadingscore,
        "% Passing Math": math_Percentpass,
        "% Passing Reading": reading_Percentpass,
        "% Overall Passing": math_reading_Percentpass
    }
)                                                                               

# Formatting                                                
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# Use the code provided to select the school type
schoolTypes = schoolData.set_index(["school_name"])["type"]

In [12]:
# Calculate the total student count
totalStudent_count = schoolDcomplete("school_name")["Student ID"].nunique()
totalStudent_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending
totalSchool_budget = schoolDcomplete.groupby(["school_name"]).mean()["budget"]
perCapita_budget= totalSchool_budget / totalStudent_count
perCapita_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [14]:
# Calculate the average test scores
school_avgReadingscore = schoolDcomplete.groupby(["school_name"]).mean()["reading_score"]
school_avgMathscore = schoolDcomplete.groupby(["school_name"]).mean()["math_score"]
school_avgReadingscore 
school_avgMathscore

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
# Filtered the DataFrame to only include the students with math scored of 70 or higher
schoolMath_count = schoolDcomplete[(schoolDcomplete["reading_score"] >= 70)]
schoolMath_Pass = schoolMath_count.groupby(["school_name"]).count()["student_name"] / totalStudent_count * 100
schoolMath_Pass

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [24]:
# Calculate the number of schools with reading scores of 70 or higher
schoolReading_count = schoolDcomplete[(schoolDcomplete["math_score"] >= 70)]
schoolReading_pass = schoolReading_count.groupby(["school_name"]).count()["student_name"] / totalStudent_count * 100
schoolReading_pass

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [36]:
pass_MathReading_count = schoolDcomplete[(schoolDcomplete["reading_score"] >= 70) & (schoolDcomplete["math_score"] >= 70)].count()["school_name"]
pass_Math_Reading = pass_MathReading_count / totalStudent_count * 100
pass_Math_Reading

school_name
Bailey High School        513.022508
Cabrera High School      1373.950484
Figueroa High School      865.649373
Ford High School          932.018985
Griffin High School      1738.964578
Hernandez High School     550.765912
Holden High School       5978.454333
Huang High School         875.145698
Johnson High School       536.189876
Pena High School         2653.638254
Rodriguez High School     638.359590
Shelton High School      1449.630892
Thomas High School       1561.345566
Wilson High School       1118.177836
Wright High School       1418.222222
Name: Student ID, dtype: float64

In [33]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
# pass_MathReading_count = schoolDcomplete[
#     (schoolDcomplete["reading_score"] >= 70) & (schoolDcomplete["math_score"] >= 70)
# ].count()["school_name"]
# pass_Math_Reading = pass_MathReading_count.groupby(["school_name"].count()["student_name"] / totalStudent_count *100)
# pass_Math_Reading

AttributeError: 'numpy.int64' object has no attribute 'groupby'

In [ ]:
# Use the provided code to calculate the passing rates

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.


# Formatting


# Display the DataFrame

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade


# Group by "school_name" and take the mean of each.

# Use the code to select only the `math_score`.


# Combine each of the scores above into single DataFrame called `math_scores_by_grade`


# Minor data wrangling


# Display the DataFrame

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade


# Group by "school_name" and take the mean of each.


# Use the code to select only the `reading_score`.


# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`


# Minor data wrangling


# Display the DataFrame

## Scores by School Spending

In [ ]:
# Establish the bins

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.

In [ ]:
#  Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame


# Display results

## Scores by School Size

In [ ]:
# Establish the bins.

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.


# Use the code provided to select new column data

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results